<div class="well well-small">
  <div class="page-header">
    <div class="col-lg-1">
    </div>
    <h1>Your neighbour's cookies <small>Listing ip_addresses</small></h1>
  </div>
</div>

<div id="scrooll_to_top">
    <a href="#" class="btn btn-success" role="button">
    <span class="glyphicon glyphicon-chevron-up"></span>
    <p>Top</p>
    </a>
</div>

<!-- <div class="container"> -->
  <div class="col-lg-2">
    <!--Sidebar content-->
    <%= render 'index_sidebar' %>
    <!--Sidebar content-->
  </div>
  <div class="col-lg-10">
    <!--Body content-->
    <%= render 'index_body' %>
    <!--Body content-->
  </div>
<!-- </div> -->
