<div class="well well-small">
  <div class="page-header">
    <div class="col-lg-1">
    </div>
    <h1>Your neighbour's cookies <small>Listing ip_addresses</small></h1>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<%
=begin %>
  <tbody>
    <% @ip_addresses.each do |ip_address| %>
      <tr>
        <td><%= link_to 'Show', ip_address %></td>
        <td><%= link_to 'Edit', edit_ip_address_path(ip_address) %></td>
        <td><%= link_to 'Destroy', ip_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%
=end %>

<br>

<%= link_to 'New Ip address', new_ip_address_path %>
