/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.the-table {
    table-layout: fixed;
    word-wrap: break-word;
}

#scrooll_to_top { position: fixed; z-index: 1; top: 90%}

#ip_filter_btn { position: fixed; z-index: 1; top: 90%; left: 5%}

/*#accordion {position: absolute}*/

.panel-heading .accordion-toggle:after {
    /* symbol for collapsable panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}
