<%# add navigation links to this file %>
<%# <li class="<%= is_active?(root_path) %>
<li><%= link_to 'Home', root_path %></li>
<%# <li class="<%= is_active?(new_ip_address_path) %>
<li><%= link_to 'New Ip address', new_ip_address_path %></li>
